{% extends "shared/base.html"%}
{% load static %}
{% block content %}
    <section class="categorias">
        <div class="title">
            <h1>Categorias ativas</h1>
            <a href="{% url 'criar_categoria' %}" class="btn">Nova categoria</a>
        </div>
        <div class="categorias-list">
            {% for categoria in categorias.object_list %}
            <div class="categoria">
                <div class="info">
                    <h3>{{ categoria.nome }}</h3>
                    <p>{{ categoria.descricao }}</p>
                </div>
                <div class="acoes">
                        <a href="{% url 'subcategorias' categoria.id %}" class="btn-subcategorias">Subcategorias</a>
                        <form action="{% url 'editar_categoria' categoria.id %}" method="GET">
                            {% csrf_token %}
                            <button type="submit" class="btn-editar">#</button>
                        </form>
                        <form action="{% url 'excluir_categoria' categoria.id %}" method="GET">
                            {% csrf_token %}
                            <button type="submit" class="btn-deletar">X</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div class="paginacao">
                {% if categorias.has_previous %}
                    <a href="{% url 'categorias' %}?page={{ categorias.previous_page_number }}" class="btn">Anterior</a>
                {% endif %}
                <p>Página {{ categorias.number }} de {{ categorias.paginator.num_pages }}</p>
                {% if categorias.has_next %}
                    <a href="{% url 'categorias' %}?page={{ categorias.next_page_number }}" class="btn">Próximo</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}