{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se | DinDin</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" href="{% static '/styles/login.css' %}">
</head>
<body>
    <div class="page-login">
        {% if messages %}
            <div class="container-fluid">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-left" role="alert">
                    <span class="alert-icon"><i class="ni ni-bell-55"></i></span>
                    <span class="alert-text">{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <form action="{% url 'cadastro' %}" method="POST" class="formLogin">
            {% csrf_token %}
            <h1>Cadastre-se</h1>
            <p>Comece a facilitar sua vida com a DinDin! <3 Preencha os campos abaixo.</p>
            {% for field in form.visible_fields %}
            <div class="campo">
                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="text-danger text-sm">{{ error }}</p>
                    {% endfor %}
            </div>
            {% endfor %}
            <input type="submit" value="Cadastrar" class="btn" />
            <a href="{% url 'login' %}" class="btn-cadastro">Já tem uma conta? Faça login.</a>
        </form>
    </div>
</body>
</html>