{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" href="{% static '/styles/login.css' %}">
</head>
<body>
    <div class="page-login">
        <form action="{% url 'login' %}" method="POST" class="formLogin">
            {% csrf_token %}
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            {% for field in form.visible_fields %}
            <div class="campo">
                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>
</body>
</html>