{% extends "shared/base.html"%}
{% load static %}
{% block content %}
    <section class="criar-conta">
        <div class="title">
            <h1>Editar conta {{conta.nome}}</h1>
        </div>
        <div class="form">
            <form action="{% url 'editar_conta' conta.id %}" method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="campo">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="text-danger text-sm">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn">Salvar</button>
            </form>
        </div>
    </section>
{% endblock %}